@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.prose h1 { @apply text-3xl font-black text-slate-900; }
.prose h2 { @apply text-xl font-bold text-slate-800 mt-6 mb-2; }
.prose p { @apply text-slate-600 leading-relaxed mb-4; }
